<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Prediction</title>
</head>
<body>
    <h1>
    Welcome to Salary Prediction
        </h1>
<form action = "{{url_for('predict')}}" method='post'>
  <div class="col-auto">
    <label>Experience</label>
    <input type="text" name="experience" placeholder="in years..." required="required">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Predict</button>
  </div>
</form>
    {{prediction_text}}
</body>
</html>